$color-body-primary: #181818;
$color-body-secondary: #000;
$color-arrow: #efefef;
$color-arrow-bg: #efefef;
$color-arrow-hover: $color-body-primary;

$font-size: 16px;
$font-family: 'Titillium Web', sans-serif;